{% extends 'mainTheme.html.twig' %}

{% block title %}Criar Novo Usuario {% endblock %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
<<<<<<< HEAD

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Criar Novo Usuário</h1>
=======
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Criar Novo Usuário
            </h1>
>>>>>>> c9e181b4dae49f329a5425276d5b84fb1a356a83
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
<<<<<<< HEAD
                    <div class="panel panel-default">
                        <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                            {{ form_start(NovoUsuario) }}
                                                {{ form_widget(NovoUsuario) }}
                                                <p>
                                                <p>
                                                <button type="submit" class="btn btn-default">Criar usuario</button>
                                            {{ form_end(NovoUsuario) }}
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->
                                </div>
                                <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                <!-- /.panel -->
            </div>
        </section>
{% endblock %}



=======
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                        {{ form_start(NovoUsuario) }}
                                            {{ form_widget(NovoUsuario) }}
                                            <p>
                                            <p>
                                            <button type="submit" class="btn btn-default">Criar usuario</button>
                                        {{ form_end(NovoUsuario) }}
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            </form>
        </section>
    </div>
{% endblock %}
>>>>>>> c9e181b4dae49f329a5425276d5b84fb1a356a83
